.wrapper {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;

   margin-bottom: 5px;
}

.comment {
   word-wrap: break-word;
}

.authorInfo {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.avatar {
   height: 30px;
   width: 30px;

   margin-right: 7px;
}

.moreActions {
   z-index: 1000;
}

.actionBar {
   display: flex;
   align-items: center;
}

.iconBtn {
   color: aqua !important;
}
