html[data-theme="dark"] {
   --text-color: white;
   --gray-white: #161617;

   --layout-bg: #0d0d0d;

   --header-bg: #0d0d0d;

   --navbar-bg: #161617;
   --navbar-link: #aaabab;

   --footer-menu-bg: #161617;
   --footer-bg: #0d0d0d;
   --footer-color: white;

   --error-page-bg: #0d0d0d;
   --error-page-color: white;

   --post-bg: #161617;

   --add-comment-bg: #262626;
}
