html[data-theme="light"] {
   --text-color: black;
   --gray-white: #fffefe;

   --layout-bg: #f1f0f1;

   --header-bg: #303b44;

   --navbar-bg: #fffefe;
   --navbar-link: #aaabab;

   --footer-menu-bg: #303b44;
   --footer-bg: #1f2324;
   --footer-color: white;

   --error-page-bg: #fffefe;
   --error-page-color: black;

   --post-bg: #fffefe;

   --add-comment-bg: #fffefe;
}
