.link {
   margin-bottom: 5px;
}

.linkValue {
   font-weight: bold;
   color: var(--text-color);

   font-size: 14px;
   padding: 10px;
   border: 1px solid #1976d2;
}

.subtitle {
   margin-bottom: 5px;
}
